---
BasedOnStyle: LLVM
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  PadOperators: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
BreakAfterJavaFieldAnnotations: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 200
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: Never
SortUsingDeclarations: Lexicographic
AlwaysBreakAfterReturnType: None
ConstructorInitializerAllOnOneLineOrOnePerLine: true
KeepEmptyLinesAtTheStartOfBlocks: false
InsertNewlineAtEOF: true
Language: Cpp
...
